# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# Data
*.csv
*.CSV
*.pdf
data/processed/
data/cache/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
.next/
out/
dist/
.cache/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Local Netlify folder
.netlify

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
